<a href="https://colab.research.google.com/github/Pranjal-bisht/ML/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ANN in python

importing of libraries

In [ ]:
import pandas as pd
import numpy as np
from keras.layers import Dense
from keras.models import Sequential

In [ ]:
df= pd.read_csv('/content/drive/MyDrive/DL/Copy of Churn_Modelling.csv')

In [ ]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
df.shape

(10000, 14)

In [ ]:
x=df.iloc[:,3:13]
y=df.iloc[:,-1]

In [ ]:
x.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

In [ ]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [ ]:
x['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [ ]:
x=pd.get_dummies(x,columns=['Geography','Gender'],drop_first=True)

In [ ]:
x.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

Scaling the values

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [ ]:
x=ss.fit_transform(x)

In [ ]:
x

array([[-0.32622142,  0.29351742, -1.04175968, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [-0.44003595,  0.19816383, -1.38753759, ..., -0.57873591,
         1.74273971, -1.09598752],
       [-1.53679418,  0.29351742,  1.03290776, ..., -0.57873591,
        -0.57380915, -1.09598752],
       ...,
       [ 0.60498839, -0.27860412,  0.68712986, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [ 1.25683526,  0.29351742, -0.69598177, ...,  1.72790383,
        -0.57380915,  0.91241915],
       [ 1.46377078, -1.04143285, -0.35020386, ..., -0.57873591,
        -0.57380915, -1.09598752]])

Test train split

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [ ]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(8000, 11) (2000, 11) (8000,) (2000,)

In [ ]:
model=Sequential()

In [ ]:
model.add(Dense(units=6,activation='relu',input_dim=11))
model.add(Dense(units=6,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_11 (Dense)             (None, 6)                 72
_________________________________________________________________
dense_12 (Dense)             (None, 6)                 42
_________________________________________________________________
dense_13 (Dense)             (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

Training the model

In [ ]:
model.fit(x_train,y_train,batch_size=10,epochs=10)

Epoch 1/10
800/800 [==============================] - 1s 838us/step - loss: 0.5031 - accuracy: 0.7707
Epoch 2/10
800/800 [==============================] - 1s 837us/step - loss: 0.4311 - accuracy: 0.8105
Epoch 3/10
800/800 [==============================] - 1s 870us/step - loss: 0.4215 - accuracy: 0.8176
Epoch 4/10
800/800 [==============================] - 1s 900us/step - loss: 0.4147 - accuracy: 0.8254
Epoch 5/10
800/800 [==============================] - 1s 869us/step - loss: 0.4084 - accuracy: 0.8290
Epoch 6/10
800/800 [==============================] - 1s 866us/step - loss: 0.4033 - accuracy: 0.8307
Epoch 7/10
800/800 [==============================] - 1s 868us/step - loss: 0.3980 - accuracy: 0.8330
Epoch 8/10
800/800 [==============================] - 1s 874us/step - loss: 0.3917 - accuracy: 0.8341
Epoch 9/10
800/800 [==============================] - 1s 861us/step - loss: 0.3866 - accuracy: 0.8363
Epoch 10/10
800/800 [==============================] - 1s 915us/step - loss: 0.3812 - accuracy: 0.8367

Making predictions

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
y_pred

array([[0.12658048],
       [0.2786599 ],
       [0.14843097],
       ...,
       [0.24544457],
       [0.20604882],
       [0.5190671 ]], dtype=float32)

In [ ]:
y_pred=y_pred>0.5

In [ ]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [ ]:
y_test

5916    0
1616    0
7073    0
4613    0
9690    1
       ..
9452    0
3366    0
68      0
2524    1
7575    0
Name: Exited, Length: 2000, dtype: int64

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
cm=confusion_matrix(y_pred,y_test)

In [ ]:
cm

array([[1508,  281],
       [  76,  135]])

In [ ]:
(1508+135)/(1508+281+76+135)

0.8215

My model has overfitted as the test set accuracy is less than the train set